@font-face {
  font-family: Golos;
  src: url(../fonts/Golostextregular.woff2) format("woff2"),url(../fonts/Golostextregular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Golos;
  src: url(../fonts/Golostextdemibold.woff2) format("woff2"),url(../fonts/Golostextdemibold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block
}
@font-face {
  font-family: Golos;
  src: url(../fonts/Golostextmedium.woff2) format("woff2"),url(../fonts/Golostextmedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block
}
.fc_green {
  color: green
}
.fc_orange {
  color: orange
}
.fc_red {
  color: red
}
* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Tahoma,sans-serif
}
html {
  scroll-behavior: smooth
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
  color: #000;
  padding-bottom: 10px
}
picture {
  display: block
}
img {
  display: block;
  width: 100%;
  height: auto
}
li {
  list-style-type: none
}
a {
  color: inherit;
  cursor: pointer
}
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}
button:disabled {
  opacity: .7;
  cursor: default
}
.button {
  border: none;
  background-color: transparent
}
.button-white {
  border: none;
  box-shadow: 0 4px 15px rgba(0,0,0,.07);
  border-radius: 20px;
  font-weight: 500;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: .2s
}
.button-orange {
  border: none;
  font-weight: 500;
  background-color: orange;
  color: #fff;
  box-shadow: 0 4px 15px rgba(255,153,0,.07);
  border-radius: 20px;
  transition-duration: .2s;
  transition-property: background-color
}
.button-arrow {
  box-shadow: 0 4px 15px rgba(255,153,0,.07);
  border-radius: 20px;
  text-decoration: none;
  text-align: center
}
.button-arrow::after {
  content: "";
  margin-left: 6px;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-image: url(/statics/img/ic_arrow_right.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.button-grey {
  background-color: #ededed;
  border-radius: 20px;
  color: #000;
  border: none;
  transition-property: background-color,color;
  transition-duration: .2s
}
.button-grey:disabled {
  color: rgba(0,0,0,.25);
  cursor: default
}
.wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column
}
.cont {
  margin: 0 auto;
  max-width: 1218px;
  padding-right: 15px;
  padding-left: 15px
}
.caption {
  font-size: 34px;
  line-height: 44px
}
.title {
  font-size: 48px;
  line-height: 56px
}
.headline {
  font-size: 21px;
  line-height: 26px
}
.text-big {
  letter-spacing: -.015em;
  font-size: 24px;
  line-height: 32px
}
.text {
  font-size: 16px;
  line-height: 24px
}
.text-small {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0
}
.textarea {
  border: none;
  background: #ededed;
  border-radius: 20px;
  resize: none
}
.textarea::-moz-placeholder {
  color: rgba(0,0,0,.5)
}
.textarea:-ms-input-placeholder {
  color: rgba(0,0,0,.5)
}
.textarea::placeholder {
  color: rgba(0,0,0,.5)
}
.input {
  border: 1px solid transparent;
  background: #ededed;
  border-radius: 20px
}
.input::-moz-placeholder {
  color: rgba(0,0,0,.5)
}
.input:-ms-input-placeholder {
  color: rgba(0,0,0,.5)
}
.input::placeholder {
  color: rgba(0,0,0,.5)
}
input.input_wrong,
input.input_wrong:focus,
input.input_wrong:hover {
  border: 1px solid #89621f
}
input.input_wrong + .input-animate-placeholder {
  color: #89621f
}
.input-animate-box {
  position: relative;
  display: block
}
.input-animate-placeholder {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 11px;
  line-height: 12px;
  color: rgba(0,0,0,.5);
  cursor: text;
  transition-duration: .2s;
  transition-property: top,font-size,line-height
}
.input-animate {
  padding: 23px 16px 7px
}
.input-animate:-moz-placeholder-shown + .input-animate-placeholder {
  top: calc(50% - 10px);
  font-size: 16px;
  line-height: 20px
}
.input-animate:-ms-input-placeholder + .input-animate-placeholder {
  top: calc(50% - 10px);
  font-size: 16px;
  line-height: 20px
}
.input-animate:placeholder-shown + .input-animate-placeholder {
  top: calc(50% - 10px);
  font-size: 16px;
  line-height: 20px
}
.input-animate:focus + .input-animate-placeholder {
  top: 10px;
  font-size: 11px;
  line-height: 12px
}
.link_grey {
  position: relative;
  z-index: 1
}
.link_grey::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: background;
  transition-duration: .2s
}
.crumbs__list {
  display: flex;
  margin-top: -24px;
  margin-left: -12px;
  margin-bottom: 12px
}
.crumbs__item {
  position: relative;
  margin-right: 20px
}
.crumbs__item:not(:last-of-type)::before {
  content: "";
  position: absolute;
  top: 12px;
  right: -18px;
  width: 16px;
  height: 16px;
  background-image: url(/statics/img/ic_crumbs_arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center
}
.crumbs__link {
  padding: 12px;
  display: inline-block;
  text-decoration: none
}
.content h2 {
  margin-top: 47px;
  margin-bottom: 17px;
  font-size: 32px;
  line-height: 34px
}
.content h4 {
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: -.015em;
  font-size: 20px;
  line-height: 28px
}
.content a,
.content span {
  color: orange
}
.content a {
  text-decoration: none;
  transition-duration: .2s;
  transition-property: color
}
.content li,
.content p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px
}
.content li {
  position: relative;
  padding-left: 30px
}
.content picture,
.content section {
  margin-bottom: 16px
}
.content table {
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed
}
.content th {
  text-align: center
}
.content td,
.content th {
  border: 1px solid #000;
  padding: 5px;
  width: 25%;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px
}
.content_2 {
  max-width: 788px
}
.content_2 .download {
  display: inline-block;
  padding: 16px 51px;
  color: #fff
}
.content_2 .note {
  color: rgba(0,0,0,.5)
}
.content_2 h2 {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px
}
.content_2 li,
.content_2 p {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 24px
}
.content_2 li {
  padding-left: 25px;
  position: relative
}
.content_2 li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000
}
.content_2 a {
  color: orange;
  text-decoration: none;
  transition-duration: .2s;
  transition-property: color
}
.my-fancybox {
  display: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.my-fancybox_open {
  display: block
}
.my-fancybox_open-opacity {
  opacity: 1
}
.my-fancybox__cont {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%
}
.my-fancybox__layer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(30,30,30,.87);
  cursor: pointer
}
.my-fancybox__text {
  position: absolute;
  z-index: 1;
  padding: 25px 44px;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #fff
}
.my-fancybox__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex
}
.my-fancybox__inner {
  position: relative;
  flex-grow: 1;
  height: 100%
}
.my-fancybox__btn-menu {
  position: absolute;
  z-index: 10000;
  top: 28px;
  right: 88px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: .7;
  background-image: url(/statics/img/ic_my_fancybox_gallery.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  transition-property: opacity;
  transition-duration: .2s
}
.my-fancybox__btn-menu_hide {
  display: none
}
.my-fancybox__btn-close {
  position: absolute;
  z-index: 10000;
  top: 28px;
  right: 26px;
  width: 50px;
  height: 50px;
  background-image: url(/statics/img/ic_close_my_fancybox_white.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .7;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .2s
}
.my-fancybox__button {
  position: absolute;
  z-index: 1000;
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: .7;
  transition-property: opacity;
  transition-duration: .2s
}
.my-fancybox__button_hide {
  display: none
}
.my-fancybox__button_next {
  right: 0;
  background-image: url(/statics/img/ic_my-fancybox_next_white.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: center
}
.my-fancybox__button_prev {
  left: 0;
  background-image: url(/statics/img/ic_my-fancybox_prev_white.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: center
}
.my-fancybox__area {
  height: 100%;
  display: flex
}
.my-fancybox__box {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-shrink: 0;
  align-items: center
}
.my-fancybox__box_active {
  display: flex
}
.my-fancybox__picture-big {
  margin: 100px auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center
}
.my-fancybox__picture-big_loading {
  position: relative
}
.my-fancybox__picture-big_loading::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid #ededed;
  border-top: 5px solid #000;
  -webkit-animation: 1s linear infinite my-fancybox__picture-big_loading-animation;
  animation: 1s linear infinite my-fancybox__picture-big_loading-animation
}
@-webkit-keyframes my-fancybox__picture-big_loading-animation {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
@keyframes my-fancybox__picture-big_loading-animation {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}
.my-fancybox__image-big {
  width: auto;
  max-width: 100%;
  max-height: calc(100vh - 150px);
  transition-property: transform;
  transition-duration: .5s
}
.my-fancybox__iframe-box {
  max-width: 1240px;
  position: relative
}
.my-fancybox__iframe,
.my-fancybox__iframe-box {
  width: 100%;
  height: 100%
}
.my-fancybox__iframe {
  border: none
}
.my-fancybox__list-box {
  display: none;
  width: 205px;
  align-items: flex-start;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 35px 0;
  background-color: #fff
}
.my-fancybox__list-box_show {
  display: flex;
  position: static
}
.my-fancybox__list-container {
  margin-right: 5px;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #000 #d6dbde
}
.my-fancybox__list-container::-webkit-scrollbar {
  width: 3px
}
.my-fancybox__list-container::-webkit-scrollbar-track {
  background: #d6dbde
}
.my-fancybox__list-container::-webkit-scrollbar-thumb {
  background-color: #000
}
.my-fancybox__list {
  padding-right: 0;
  display: flex;
  flex-wrap: wrap
}
.my-fancybox__item {
  flex-shrink: 0;
  margin: 0 5px 10px;
  padding: 2px;
  border-radius: 6px;
  border: 2px solid transparent;
  width: 84px;
  height: 84px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: .2s
}
.my-fancybox__item_active {
  border: 2px solid orange
}
.my-fancybox__picture {
  width: 76px
}
.my-fancybox__thumb-video {
  position: relative
}
.my-fancybox__image {
  border-radius: 4px;
  height: 76px
}
.header {
  margin-bottom: -25px;
  padding-bottom: 13px;
  position: relative;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0,0,0,.05);
  border-radius: 0 0 32px 32px
}
.header_catalog-active {
  border-radius: 0;
  box-shadow: none
}
.header_search-active {
  box-shadow: none;
  border-radius: 0
}
.header_search-active .header__search-btn {
  display: block
}
.header_search-active .header__button,
.header_search-active .header__catalog {
  display: none
}
.header__layer {
  position: fixed;
  top: -50px;
  right: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background-color: rgba(0,0,0,.7);
  transition-property: opacity;
  transition-duration: .25s;
  transition-delay: 50ms;
  cursor: pointer
}
.header__layer_active {
  bottom: -50px;
  opacity: 1
}
.header__cont {
  max-width: 1326px
}
.header__top {
  display: flex;
  align-items: center;
  margin: 0 -10px 9px;
  height: 40px
}
.header__top::before {
  content: "";
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  background-color: rgba(0,0,0,.03)
}
.header__top-item {
  padding: 8px 12px;
  text-decoration: none
}
.header__top-item::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  width: 16px;
  height: 16px
}
.header__top-item_delivery::before {
  background-image: url(/statics/img/ic_basket_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__top-item_payment::before {
  background-image: url(/statics/img/ic_payment_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__top-item_geo {
  margin-left: auto
}
.header__top-item_geo::before {
  background-image: url(/statics/img/ic_geo_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__top-item_contacts::before {
  background-image: url(/statics/img/ic_phone_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__top-select {
  position: relative;
  cursor: pointer
}
.header__top-select-box {
  display: none;
  position: absolute;
  z-index: 10;
  padding-top: 15px;
  top: 30px;
  left: -10px
}
.header__top-select-list {
  padding: 10px 0;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,.07)
}
.header__top-select-link {
  padding: 10px 20px;
  text-decoration: none;
  display: flex
}
.header__top-select-image {
  margin-right: 4px;
  flex-shrink: 0;
  width: 20px;
  height: 20px
}
.header__top-select-span {
  display: block;
  white-space: nowrap;
  font-size: 16px;
  line-height: 20px;
  transition-property: color;
  transition-duration: .2s
}
.header__top-select-name {
  display: inline-block;
  padding: 8px 12px
}
.header__top-select-name::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  transition-property: transform;
  transition-duration: .2s;
  background-image: url(/statics/img/ic_arrow_bottom_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__bottom {
  display: flex;
  align-items: center
}
.header__logo {
  flex-shrink: 0;
  margin-right: 32px;
  width: 172px
}
.header__logo-img {
  height: 86px
}
.header__catalog {
  flex-shrink: 0;
  margin-right: 16px;
  padding: 16px 20px;
  text-decoration: none
}
.header__catalog::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  background-image: url(/statics/img/ic_catalog.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__catalog_active {
  background-color: rgba(255,165,0,.05);
  color: orange;
  box-shadow: none
}
.header__catalog_active::before {
  background-image: url(/statics/img/ic_close_orange.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__search-form {
  flex-grow: 1;
  display: flex
}
.header__search-label {
  display: block;
  width: 100%;
  margin-right: 32px
}
.header__search-input {
  width: 100%;
  transition-property: border-color,background-color;
  transition-duration: .2s
}
.header__search-input:focus {
  border: 1px solid rgba(0,0,0,.25);
  background-color: #fff
}
.header__search-btn {
  display: none;
  padding: 16px 20px;
  flex-shrink: 0
}
.header__search-btn::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: top
}
.header__search-btn_submit {
  margin-right: 32px
}
.header__search-btn_submit::before {
  background-image: url(/statics/img/ic_search_white.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center
}
.header__search-btn_close::before {
  background-image: url(/statics/img/ic_close_black.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center
}
.header__search-close-mobile {
  display: none;
  margin-right: -15px
}
.header__button {
  flex-shrink: 0;
  margin-right: 16px;
  padding: 16px 20px
}
.header__button::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px
}
.header__button_compare::before {
  margin-right: 0;
  background-image: url(/statics/img/ic_compare.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__button_like::before {
  margin-right: 0;
  background-image: url(/statics/img/ic_heart_black.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__button_sign-in::before {
  background-image: url(/statics/img/ic_sign-in_black.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header__button_basket {
  margin-right: 0
}
.header__button_basket::before {
  background-image: url(/statics/img/ic_basket_black.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header-fixed {
  display: none
}
.header-fixed__top {
  position: relative;
  display: flex;
  justify-content: center
}
.header-fixed__close {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 48px;
  height: 48px;
  background-image: url(/statics/img/ic_close_black.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center
}
.header-fixed__logo {
  width: 120px;
  display: block
}
.header-fixed__logo-image {
  height: 60px
}
.header-fixed__area {
  padding: 28px 20px 40px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,.05);
  border-radius: 24px;
  max-height: 100%;
  overflow: auto
}
.header-fixed__list {
  margin-bottom: 24px
}
.header-fixed__link {
  display: flex;
  padding: 4px 0;
  text-decoration: none
}
.header-fixed__image {
  margin-right: 8px;
  width: 24px;
  height: 24px
}
.header-search {
  position: absolute;
  z-index: 1;
  top: 140px;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: #fff;
  padding-bottom: 40px;
  display: none;
  border-radius: 0 0 32px 32px;
  transition-duration: .2s;
  transition-property: opacity
}
.header-search_active {
  display: block
}
.header-search__you-looking-for_hidden {
  display: none
}
.header-search__note {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0,0,0,.5)
}
.header-search__list {
  margin-bottom: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}
.header-search__link {
  border-radius: 16px;
  display: inline-block;
  padding: 12px 20px;
  font-weight: 500;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: .2s
}
.header-search__tile {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px
}
.header-search__tile-item {
  margin: 0 8px 16px;
  width: 188px;
  text-decoration: none;
  border-radius: 32px;
  overflow: hidden;
  background-color: #ededed
}
.header-search__tile-item_finds-of-the-day {
  background-color: orange
}
.header-search__tile-item_new-catalog {
  background: linear-gradient(135deg,#fa00ff 0,#5200ff 100%)
}
.header-search__tile-item_all-catalog {
  background-color: orange
}
.header-search__tile-item_delivery {
  background: linear-gradient(283.49deg,#98d508 0,#28c00c 100%)
}
.header-search__name {
  display: block;
  color: #fff;
  padding: 20px 20px 7px;
  font-size: 16px;
  line-height: 20px
}
.header-search__image {
  height: 141px
}
.header-search__category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -4px 32px
}
.header-search__category-item {
  margin: 0 4px 8px;
  flex-shrink: 0;
  padding: 12px;
  display: flex;
  background: rgba(0,0,0,.03);
  border-radius: 12px;
  text-decoration: none
}
.header-search__category-text {
  margin-right: 9px;
  flex-shrink: 0
}
.header-search__category-picture {
  flex-shrink: 0;
  width: 32px
}
.header-search__category-image {
  height: 24px
}
.header-search__menu {
  margin: 0 -4px 32px;
  display: flex;
  flex-shrink: 0
}
.header-search__menu-link {
  margin: 0 4px;
  flex-shrink: 0;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 12px;
  background: 0 0;
  cursor: pointer;
  transition-duration: .2s;
  transition-property: background
}
.header-search__menu-link_disactive {
  cursor: default;
  background-color: #ededed;
  opacity: .3
}
.header-search__menu-link_active {
  cursor: default;
  background: rgba(0,0,0,.07)
}
.header-search__all-result {
  padding: 16px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500
}
.header-search__all-result::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background-image: url(/statics/img/ic_search.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.tile-search__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px
}
.tile-search__item {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 14px 36px;
  width: 156px;
  flex-shrink: 0;
  text-decoration: none
}
.tile-search__item::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -20px;
  right: -16px;
  bottom: -20px;
  left: -16px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,.05);
  border-radius: 32px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .2s
}
.tile-search__picture {
  position: relative;
  width: 140px;
  margin-bottom: 10px
}
.tile-search__discount {
  position: absolute;
  z-index: 1;
  top: -4px;
  right: -4px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: orange
}
.tile-search__image {
  height: 140px
}
.tile-search__price-box {
  display: flex;
  align-items: flex-end;
  margin-bottom: 6px
}
.tile-search__price {
  margin-right: 5px;
  font-size: 36px;
  line-height: 41px
}
.tile-search__price-info {
  margin-bottom: 5px
}
.tile-search__price-old {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.5)
}
.tile-search__price-old::before {
  content: "";
  position: absolute;
  top: 9px;
  height: 1px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5)
}
.tile-search__price-rouble {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px
}
.tile-search__info-line {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px
}
.tile-search__rating {
  flex-shrink: 0;
  margin-right: 5px;
  width: 80px;
  height: 16px;
  overflow: hidden;
  background-image: url(/statics/img/ic_star_grey.svg);
  background-size: 16px 16px
}
.tile-search__rating-fill {
  height: 16px;
  background-image: url(/statics/img/ic_star_orange.svg);
  background-size: 16px 16px
}
.tile-search__rating-value {
  margin-right: 8px;
  color: rgba(0,0,0,.5)
}
.tile-search__text {
  margin-bottom: 10px;
  color: rgba(0,0,0,.5)
}
.header-mobile,
.header-mobile_cabinet .header-mobile__burger,
.header-mobile_cabinet .header-mobile__logo {
  display: none
}
.header-mobile_cabinet .header-mobile__back,
.header-mobile_cabinet .header-mobile__box {
  display: block
}
.header-mobile__cont {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.header-mobile__back {
  display: none;
  margin-left: -14px;
  width: 48px;
  height: 48px;
  background-image: url(/statics/img/ic_back_black.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.header-mobile__box {
  display: none;
  text-align: center;
  max-width: 100%;
  width: 212px;
  flex-shrink: 0
}
.header-mobile__title {
  font-weight: 500
}
.header-mobile__text {
  color: rgba(0,0,0,.5)
}
.header-mobile__burger {
  position: relative;
  margin-left: -14px;
  width: 48px;
  height: 48px
}
.header-mobile__burger::before {
  content: "";
  top: 18px
}
.header-mobile__burger::after {
  content: "";
  top: 22px
}
.header-mobile__burger-line {
  top: 26px
}
.header-mobile__burger-line,
.header-mobile__burger::after,
.header-mobile__burger::before {
  position: absolute;
  left: 16px;
  width: 16px;
  height: 2px;
  background-color: #000;
  border-radius: 1px
}
.header-mobile__logo {
  width: 96px
}
.header-mobile__logo-image {
  height: 48px
}
.header-mobile__search {
  margin-right: -14px;
  width: 48px;
  height: 48px;
  background-image: url(/statics/img/ic_search.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.footer-mobile {
  display: none
}
.footer-mobile__list {
  display: flex;
  justify-content: space-between
}
.footer-mobile__item {
  text-decoration: none;
  padding: 9px 0 10px
}
span.footer-mobile__item .footer-mobile__image {
  opacity: 1
}
span.footer-mobile__item .footer-mobile__text {
  color: #000
}
.footer-mobile__image {
  opacity: .4;
  width: 24px;
  height: 24px;
  margin: 0 auto 1px
}
.footer-mobile__text {
  font-size: 11px;
  line-height: 12px;
  color: rgba(0,0,0,.5)
}
.catalog-modal {
  position: absolute;
  z-index: 1;
  top: 145px;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: #fff;
  padding-bottom: 28px;
  display: none;
  opacity: 0;
  box-shadow: 0 12px 20px rgba(0,0,0,.05);
  border-radius: 0 0 32px 32px
}
.catalog-modal_catalog {
  display: block;
  opacity: 1
}
.catalog-modal_display-active {
  display: block
}
.catalog-modal_opacity-active {
  opacity: 1
}
.catalog-modal__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px
}
.catalog-modal__list_hidden {
  display: none
}
.catalog-modal__list_index .catalog-modal__item {
  margin: 0 6px 12px;
  flex-shrink: 0;
  width: 188px;
  text-decoration: none;
  border-radius: 32px;
  overflow: hidden;
  background-color: #ededed
}
.catalog-modal__list_index .catalog-modal__image {
  height: 141px
}
.catalog-modal__list_index .catalog-modal__name {
  display: block;
  padding: 20px 20px 7px;
  font-size: 16px;
  line-height: 20px
}
.catalog-modal__list_catalog .catalog-modal__item,
.catalog-modal__list_modal .catalog-modal__item {
  margin: 0 6px 12px;
  width: 188px;
  text-decoration: none;
  border-radius: 32px;
  overflow: hidden;
  background-color: #ededed
}
.catalog-modal__list_catalog .catalog-modal__name,
.catalog-modal__list_modal .catalog-modal__name {
  display: block;
  padding: 20px 20px 7px;
  font-size: 16px;
  line-height: 20px
}
.catalog-modal__list_catalog .catalog-modal__image,
.catalog-modal__list_modal .catalog-modal__image {
  height: 141px
}
.catalog-modal__list .catalog-modal__item_finds-of-the-day {
  background-color: orange
}
.catalog-modal__list .catalog-modal__item_finds-of-the-day .catalog-modal__name {
  color: #fff
}
.catalog-modal__list .catalog-modal__item_new-catalog {
  background: linear-gradient(135deg,#fa00ff 0,#5200ff 100%)
}
.catalog-modal__list .catalog-modal__item_new-catalog .catalog-modal__name {
  color: #fff
}
.catalog-modal__list .catalog-modal__item_all-catalog {
  background-color: orange
}
.catalog-modal__list .catalog-modal__item_all-catalog .catalog-modal__name {
  color: #fff
}
.catalog-modal__item {
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column
}
.catalog-modal__picture {
  margin-top: auto
}
.category-cap {
  padding-top: 65px;
  border-radius: 0
}
.category-cap__subsections-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between
}
.category-cap__subsections {
  margin: 20px -4px 0;
  display: flex;
  flex-shrink: 0
}
.category-cap__subsections-link {
  margin: 0 4px;
  flex-shrink: 0;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 12px;
  transition-duration: .2s;
  transition-property: background
}
.category-cap__subsections-link_disactive {
  background-color: #ededed;
  opacity: .3
}
span.category-cap__subsections-link {
  background: rgba(0,0,0,.07)
}
.category-cap__title {
  margin-bottom: 40px;
  padding-right: 20px
}
.category-cap__filters-mob-box {
  position: relative
}
.category-cap__filters-mob {
  display: none
}
.category-cap__sort-box {
  flex-shrink: 0;
  border-radius: 20px;
  margin-right: 8px;
  padding: 6px 12px 10px;
  cursor: pointer
}
.category-cap__sort-box:hover .category-cap__sort-list-box {
  display: block
}
.category-cap__sort-box_sort::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(/statics/img/ic_sort_mob_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.category-cap__sort-list-box {
  display: none;
  position: absolute;
  z-index: 10;
  padding-top: 15px;
  top: 55px;
  width: 250px;
  left: 0
}
.category-cap__sort-list {
  padding: 20px 0;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,.07)
}
.category-cap__sort-list-inner {
  max-height: 256px;
  overflow-y: auto
}
.category-cap__sort-item {
  text-align: left
}
.category-cap__sort-item:not(:last-of-type) {
  margin-bottom: 20px
}
.category-cap__sort-link {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px
}
a.category-cap__sort-link {
  text-decoration: none
}
span.category-cap__sort-link {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.5)
}
.category-cap__filters-open {
  flex-shrink: 0;
  padding: 8px 12px
}
.category-cap__filters-open::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(/statics/img/ic_filter_mob_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.category-cap__back {
  display: none;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  margin-bottom: 16px
}
.category-cap__back::before {
  content: "";
  margin-right: 4px;
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  background-image: url(/statics/img/ic_arrow_right.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.category-cap__back_active {
  display: block
}
.category-cap__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -21px 48px
}
.category-cap__list_hidden {
  display: none
}
.category-cap__link {
  cursor: pointer;
  margin: 0 21px 12px;
  display: flex;
  background: rgba(0,0,0,.03);
  border-radius: 20px;
  overflow: hidden;
  width: 368px;
  height: 80px;
  flex-shrink: 0;
  text-decoration: none
}
.category-cap__link_hidden {
  display: none
}
.category-cap__link-text {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 27px
}
.category-cap__picture {
  margin-left: auto;
  width: 107px;
  flex-shrink: 0
}
.category-cap__image {
  height: 80px
}
.info-empty-page {
  border-radius: 0;
  padding-top: 125px;
  padding-bottom: 170px;
  text-align: center
}
.info-empty-page_hidden {
  display: none
}
.info-empty-page__caption {
  margin-bottom: 16px
}
.info-empty-page__caption + .info-empty-page__link {
  margin-top: 16px
}
.info-empty-page__text {
  max-width: 400px;
  margin: 0 auto 32px
}
.info-empty-page__heart-black {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  background-image: url(/statics/img/ic_heart_black.svg);
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center center
}
.info-empty-page__link {
  padding: 16px 20px;
  display: inline-block;
  text-decoration: none
}
.info-empty-page__link_err404::before,
.info-empty-page__link_favorites::before,
.info-empty-page__link_orders::before {
  content: "";
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
  width: 24px;
  height: 24px
}
.info-empty-page__link_favorites::before,
.info-empty-page__link_orders::before {
  background-image: url(/statics/img/ic_catalog.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.info-empty-page__link_err404::before {
  background-image: url(/statics/img/ic_home_white.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.basket {
  border-radius: 0;
  padding-top: 65px
}
.basket__title {
  margin-bottom: 8px
}
.basket__text-main {
  margin-bottom: 40px
}
.basket__form {
  display: flex
}
.basket__body {
  flex-grow: 1;
  margin-right: 60px
}
.basket__box {
  margin-bottom: 40px
}
.basket__headline-small {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 24px
}
.basket__item {
  display: flex;
  align-items: flex-start
}
.basket__item:not(:last-of-type) {
  margin-bottom: 24px
}
.basket__product {
  display: flex;
  flex-grow: 1;
  align-items: flex-start
}
.basket__picture {
  margin-right: 12px;
  flex-shrink: 0;
  width: 72px
}
.basket__image {
  height: 72px
}
.basket__descr {
  margin-right: 48px;
  width: 295px;
  flex-shrink: 0
}
.basket__name {
  display: block;
  text-decoration: none;
  margin-bottom: 4px
}
.basket__seller {
  margin-bottom: 4px;
  color: rgba(0,0,0,.5)
}
.basket__availability {
  color: rgba(0,0,0,.5)
}
.basket__availability_orange {
  color: orange
}
.basket__counter {
  display: flex;
  background: rgba(0,0,0,.03);
  border-radius: 12px
}
.basket__btn {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  cursor: pointer
}
.basket__btn_down {
  background-image: url(/statics/img/ic_minus_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.basket__btn_delete {
  background-image: url(/statics/img/ic_close_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.basket__input-counter {
  text-align: center;
  flex-shrink: 0;
  width: 32px;
  background-color: transparent;
  border: none
}
.basket__btn_up {
  background-image: url(/statics/img/ic_plus_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.basket__price-box {
  margin-left: auto;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center
}
.basket__price {
  margin-bottom: 4px;
  display: flex;
  align-items: flex-end
}
.basket__price-current {
  margin-right: 4px;
  font-size: 24px;
  line-height: 32px
}
.basket__price-rouble {
  margin-bottom: 1px;
  width: 100%
}
.basket__price-old {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 13px;
  line-height: 14px;
  color: rgba(0,0,0,.5)
}
.basket__price-old::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 7px;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.5)
}
.basket__favorite {
  position: relative;
  border-radius: 12px;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  cursor: pointer
}
.basket__favorite::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
  background-image: url(/statics/img/ic_heart_black.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .3
}
.basket__favorite_active::before {
  background-image: url(/statics/img/ic_heart_orange.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1
}
.basket__sidebar {
  width: 388px;
  flex-shrink: 0
}
.basket__sidebar-box {
  padding: 32px
}
.basket__sidebar-box_order-info {
  box-shadow: 0 4px 20px rgba(0,0,0,.05);
  border-radius: 32px
}
.basket__promocode-box {
  display: flex;
  margin-bottom: 32px
}
.basket__promocode-label {
  margin-right: 4px;
  flex-grow: 1
}
.basket__promocode {
  width: 100%;
  height: 100%
}
.basket__promocode-btn {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  background-image: url(/statics/img/ic_check_black.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
.basket__order-info-list {
  margin-bottom: 12px
}
.basket__order-info-item {
  display: flex;
  justify-content: space-between
}
.basket__result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px
}
.basket__result-value {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px
}
.basket__button {
  width: 100%;
  padding: 16px
}
.basket__sidebar-info-item {
  margin-bottom: 20px
}
.basket__sidebar-info-item-name {
  margin-bottom: 4px
}
.basket__sidebar-payment-list {
  display: flex;
  margin: 0 -6px -4px
}
.basket__sidebar-payment-item {
  margin: 0 6px;
  width: 40px;
  height: 40px;
  opacity: .5
}
.basket__sidebar-info-item-value {
  color: rgba(0,0,0,.7)
}
.basket__sidebar-info-btn {
  display: inline-block;
  padding: 8px 12px
}
.basket__sidebar-info-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  background-image: url(/statics/img/ic_arrow_right.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center
}
.basket__fixed-line {
  display: none
}
.basket__fixed-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 51px
}
.basket__fixed-price-old {
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,.5)
}
.basket__fixed-price-old::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(0,0,0,.5)
}
.basket__fixed-price {
  display: flex;
  align-items: flex-end
}
.basket__fixed-price-current {
  margin-right: 7px;
  font-size: 24px;
  line-height: 32px
}
.basket__fixed-rouble {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2px
}
.basket__fixed-button {
  padding: 8px 12px
}
.modal-box {
  opacity: 0;
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition-property: opacity;
  transition-duration: .3s
}
.modal-box__inner {
  padding: 16px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  text-align: center
}
.modal-box__inner::before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: -.25em;
  vertical-align: middle;
  width: 0
}
.modal-box__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  opacity: .7;
  background-image: url(/statics/img/ic_close_black.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: .2s
}
.modal-box__form {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  position: relative;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,.05);
  border-radius: 40px
}
.modal-box_opacity {
  opacity: 1
}
.modal-box_display {
  display: inline-block
}
.modal-box__layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(0,0,0,.7)
}
.modal-form {
  padding: 32px;
  width: 388px
}
.modal-form__headline,
.modal-form__text {
  margin-bottom: 12px
}
.modal-form__form {
  margin-top: 20px
}
.modal-form__label {
  margin-bottom: 12px;
  display: block
}
.modal-form__input {
  width: 100%
}
.modal-form__span-info {
  margin-top: -4px;
  margin-left: 16px;
  margin-bottom: 16px;
  display: block;
  color: rgba(0,0,0,.5)
}
.modal-form__button {
  padding: 16px;
  width: 100%
}
.modal-form__policy {
  margin-top: 12px;
  font-size: 13px;
  line-height: 16px;
  color: rgba(0,0,0,.5)
}
.modal-form__policy-link {
  color: orange;
  text-decoration: none
}
.info-page {
  margin-top: 0;
  padding-top: 90px;
  border-radius: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column
}
.info-page__headline {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 24px;
  text-align: center
}
.info-page__text {
  max-width: 320px;
  margin: 0 auto 12px;
  text-align: center
}
.info-page__text:last-of-type {
  margin-bottom: 24px
}
.info-page__link {
  display: inline-block;
  width: 100%;
  padding: 16px;
  text-align: center;
  text-decoration: none
}
.info-page__link_icon::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  background-image: url(/statics/img/ic_subscribe_white.svg);
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center center
}
@media (min-width:1022.1px) {
  .button-white:not(:disabled):hover {
    box-shadow: 0 4px 15px rgba(0,0,0,.15)
  }
  .button-orange:not(:disabled):hover {
    background-color: #ff4427
  }
  .button-grey:hover:not(:disabled) {
    background-color: orange;
    color: #fff
  }
  .link_grey:hover::after {
    background: rgba(0,0,0,.03)
  }
  .content a:hover {
    color: #ff4427
  }
  .content_2 .download:hover {
    color: #fff
  }
  .content_2 a:hover {
    color: #ff4427
  }
  .my-fancybox__btn-close:hover,
  .my-fancybox__btn-menu:hover,
  .my-fancybox__button:hover {
    opacity: 1
  }
  .my-fancybox__item:hover {
    border: 2px solid orange
  }
  .header__top-select:hover .header__top-select-box {
    display: block
  }
  .header__top-select:hover .header__top-select-name::after {
    transform: rotate(180deg)
  }
  .header__top-select-link:hover .header__top-select-span {
    color: orange
  }
  .header__catalog_active:hover {
    background-color: rgba(255,165,0,.1)!important
  }
  .header-search__link:hover {
    background-color: #ededed
  }
  .header-search__menu-link:hover {
    background: rgba(0,0,0,.03)
  }
  .header-search__menu-link_active:hover {
    background: rgba(0,0,0,.07)
  }
  .tile-search__item:hover .tile-search__button,
  .tile-search__item:hover::before {
    opacity: 1
  }
  .category-cap__subsections-link:hover {
    background: rgba(0,0,0,.03)
  }
  span.category-cap__subsections-link:hover {
    background: rgba(0,0,0,.07)
  }
  a.category-cap__sort-link:hover {
    color: orange
  }
  .modal-box__close:hover {
    opacity: 1
  }
}
@media (min-width:1240.1px) {
  .header__layer {
    position: absolute;
    top: 120px;
    z-index: 1000
  }
  .header__layer_active {
    bottom: 0
  }
}
@media (max-width:1240px) {
  .button-white {
    border-radius: 16px
  }
  .button-arrow {
    border-radius: 12px
  }
  .button-grey {
    border-radius: 16px
  }
  .cont {
    max-width: 882px
  }
  .caption {
    font-size: 30px;
    line-height: 36px
  }
  .title {
    font-size: 36px;
    line-height: 40px
  }
  .text-big {
    font-size: 20px;
    line-height: 28px
  }
  .crumbs__list {
    display: none
  }
  .content h2 {
    margin-top: 40px;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 26px
  }
  .content h4 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px
  }
  .content li {
    padding-left: 15px
  }
  .content section {
    margin: 0 -20px 16px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
  }
  .content section::after,
  .content section::before {
    content: "";
    width: 20px;
    flex-shrink: 0
  }
  .my-fancybox__btn-menu {
    top: 5px;
    right: 58px
  }
  .my-fancybox__btn-close {
    top: 11px;
    right: 13px;
    width: 40px;
    height: 40px
  }
  .my-fancybox__button {
    width: 50px;
    height: 50px;
    top: calc(50% - 25px)
  }
  .my-fancybox__picture-big {
    margin: 70px auto
  }
  .my-fancybox__image-big {
    max-height: calc(100vh - 100px)
  }
  .my-fancybox__list-box {
    padding: 16px 0;
    width: 107px
  }
  .my-fancybox__list-container {
    margin-right: 7px
  }
  .my-fancybox__item {
    margin: 0 6px
  }
  .header {
    position: absolute;
    display: none;
    top: 0;
    padding-top: 6px;
    padding-bottom: 35px;
    background-color: #f7f7f7;
    border-radius: 0;
    left: 0;
    width: 100%
  }
  .header .header__button,
  .header .header__catalog,
  .header .header__logo,
  .header .header__search-btn,
  .header .header__top {
    display: none
  }
  .header .header__search-label {
    margin-right: 0
  }
  .header_search-active {
    display: block
  }
  .header_search-active .header__search-close-mobile {
    display: block;
    background-color: #ededed
  }
  .header__search-label .input-animate-placeholder {
    display: none
  }
  .header__search-input {
    border-radius: 16px;
    background-color: #efefef;
    padding: 11px 16px
  }
  .header__search-input:-moz-placeholder-shown + .input-animate-placeholder {
    display: block
  }
  .header__search-input:-ms-input-placeholder + .input-animate-placeholder {
    display: block
  }
  .header__search-input:placeholder-shown + .input-animate-placeholder {
    display: block
  }
  .header__search-input:focus + .input-animate-placeholder {
    display: none
  }
  .header__search-close-mobile {
    width: 48px;
    height: 48px;
    background-image: url(/statics/img/ic_close_black.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center
  }
  .header-fixed {
    display: block;
    background-color: #f7f7f7;
    width: 320px;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: -320px;
    bottom: 0;
    padding-bottom: 80px;
    transition-property: transform;
    transition-duration: .2s
  }
  .header-fixed_active {
    transform: translateX(320px)
  }
  .header-search {
    box-shadow: 0 12px 20px rgba(0,0,0,.05);
    padding-top: 22px;
    padding-bottom: 40px;
    top: 60px;
    border-radius: 32px
  }
  .header-search__note {
    font-size: 13px;
    line-height: 16px
  }
  .header-search__list {
    margin-bottom: 18px
  }
  .header-search__link {
    font-weight: 400;
    padding: 6px 10px;
    margin-left: -10px
  }
  .header-search__tile {
    margin: 0 -4px
  }
  .header-search__tile-item {
    margin: 0 4px 8px;
    width: 156px;
    border-radius: 20px
  }
  .header-search__name {
    padding: 10px 8px 10px 10px;
    font-size: 13px;
    line-height: 16px
  }
  .header-search__image {
    height: 117px
  }
  .header-search__category-list {
    flex-wrap: nowrap;
    margin: 0 -20px 26px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto
  }
  .header-search__category-list::after,
  .header-search__category-list::before {
    content: "";
    width: 16px;
    flex-shrink: 0
  }
  .header-search__menu {
    margin: 0 -20px 20px;
    overflow: auto;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: auto
  }
  .header-search__menu::after,
  .header-search__menu::before {
    content: "";
    width: 16px;
    flex-shrink: 0
  }
  .tile-search__list {
    margin: 0 -5px;
    justify-content: space-between
  }
  .tile-search__item {
    margin: 0 5px 10px;
    padding-right: 60px;
    width: 48%;
    display: flex;
    flex-direction: column
  }
  .tile-search__item::before {
    content: none
  }
  .tile-search__picture {
    width: 48px;
    position: absolute;
    top: 5px;
    right: 5px
  }
  .tile-search__discount {
    display: none
  }
  .tile-search__image {
    height: 48px
  }
  .tile-search__price-box {
    margin-bottom: 4px;
    order: 1
  }
  .tile-search__price {
    font-size: 32px;
    line-height: 36px
  }
  .tile-search__price-old {
    font-size: 13px;
    line-height: 14px
  }
  .tile-search__price-old::before {
    top: 8px
  }
  .tile-search__price-rouble {
    font-size: 13px;
    line-height: 14px
  }
  .tile-search__info-line {
    display: none
  }
  .tile-search__text {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
    color: #000
  }
  .header-mobile {
    display: block;
    padding: 6px 0
  }
  .footer-mobile {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 -4px 10px rgba(0,0,0,.05);
    border-radius: 20px 20px 0 0
  }
  .catalog-modal {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    display: none
  }
  .catalog-modal__list_index {
    flex-wrap: nowrap;
    margin: 0 -20px -10px;
    padding-bottom: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: auto
  }
  .catalog-modal__list_index::after,
  .catalog-modal__list_index::before {
    content: "";
    width: 18px;
    flex-shrink: 0
  }
  .catalog-modal__list_index .catalog-modal__item {
    border-radius: 16px;
    width: 120px;
    margin: 0 2px
  }
  .catalog-modal__list_index .catalog-modal__image {
    height: 90px
  }
  .catalog-modal__list_index .catalog-modal__name {
    padding: 16px 8px 7px 10px;
    font-size: 11px;
    line-height: 12px
  }
  .catalog-modal__list_catalog,
  .catalog-modal__list_modal {
    margin: 0 -9px
  }
  .catalog-modal__list_catalog .catalog-modal__item,
  .catalog-modal__list_modal .catalog-modal__item {
    width: 156px;
    margin: 0 9px 8px;
    border-radius: 20px
  }
  .catalog-modal__list_catalog .catalog-modal__name,
  .catalog-modal__list_modal .catalog-modal__name {
    padding: 16px 8px 7px 10px;
    font-size: 13px;
    line-height: 16px
  }
  .catalog-modal__list_catalog .catalog-modal__image,
  .catalog-modal__list_modal .catalog-modal__image {
    height: 117px
  }
  .category-cap {
    padding-top: 24px
  }
  .category-cap__subsections-box {
    display: block
  }
  .category-cap__subsections-box + .category-cap__list {
    margin-bottom: 32px
  }
  .category-cap__subsections {
    margin: 0 -20px 10px;
    overflow: auto;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: auto
  }
  .category-cap__subsections::after,
  .category-cap__subsections::before {
    content: "";
    width: 16px;
    flex-shrink: 0
  }
  .category-cap__title {
    display: none
  }
  .category-cap__filters-mob {
    display: flex;
    overflow-x: auto;
    margin: -16px -20px 16px;
    padding: 16px 0
  }
  .category-cap__filters-mob::after,
  .category-cap__filters-mob::before {
    content: "";
    flex-shrink: 0;
    width: 16px
  }
  .category-cap__sort-box {
    margin: 0 4px
  }
  .category-cap__sort-list-box {
    top: 60px;
    padding-top: 0
  }
  .category-cap__filters-open {
    margin: 0 4px
  }
  .category-cap__back {
    margin-bottom: 10px
  }
  .category-cap__list {
    display: none;
    margin: 0 -4px 48px
  }
  .category-cap__list_modal {
    display: flex
  }
  .category-cap__link {
    height: 50px;
    margin: 0 4px 4px;
    width: calc(50% - 8px)
  }
  .category-cap__link-text {
    font-size: 13px;
    line-height: 16px;
    padding-left: 16px
  }
  .category-cap__picture {
    width: 67px
  }
  .category-cap__image {
    height: 50px
  }
  .info-empty-page {
    padding: 50px 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1
  }
  .info-empty-page_hidden {
    display: none
  }
  .info-empty-page__caption {
    margin-bottom: 12px
  }
  .info-empty-page__caption + .info-empty-page__link {
    margin-top: 12px
  }
  .info-empty-page__text {
    margin: 0 auto 24px
  }
  .info-empty-page__heart-black {
    width: 24px;
    height: 24px;
    background-image: url(/statics/img/ic_heart_black.svg);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center
  }
  .basket {
    padding-top: 0;
    padding-bottom: 110px;
    background-color: #ededed
  }
  .basket__text-main,
  .basket__title {
    display: none
  }
  .basket__form {
    display: block
  }
  .basket__body {
    margin-right: 0
  }
  .basket__box {
    padding-top: 32px;
    padding-bottom: 24px
  }
  .basket__headline-small {
    margin-bottom: 24px
  }
  .basket__price-box {
    margin-right: 80px
  }
  .basket__sidebar {
    width: 100%
  }
  .basket__sidebar-box {
    padding: 32px 0
  }
  .basket__result {
    margin-bottom: 0
  }
  .basket__button {
    display: none
  }
  .basket__fixed-line {
    display: block;
    padding: 6px 0 16px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    bottom: 45px;
    left: 0;
    right: 0;
    box-shadow: 0 -4px 10px rgba(0,0,0,.05);
    border-radius: 20px 20px 0 0
  }
  .modal-box {
    padding: 16px
  }
  .modal-box__inner::before {
    margin-right: -.249em
  }
  .modal-box__close {
    top: 16px;
    right: 16px
  }
  .modal-box__form {
    border-radius: 24px
  }
  .modal-form {
    padding: 24px 16px
  }
  .info-page {
    padding-top: 32px;
    background-color: #fff
  }
  article.info-page {
    padding-bottom: 90px
  }
  .info-page__cont {
    flex-grow: 1;
    display: flex;
    flex-direction: column
  }
  .info-page__link {
    margin-top: auto;
    margin-bottom: 0
  }
}
@media (max-width:950px) {
  .cont {
    max-width: 678px
  }
  .my-fancybox__text {
    z-index: -1;
    opacity: 0
  }
  .my-fancybox__text_show {
    z-index: 1;
    opacity: 1
  }
  .my-fancybox__button {
    opacity: 0;
    z-index: -1
  }
  .my-fancybox__button_show {
    z-index: 1000;
    opacity: 1
  }
  .tile-search__item {
    width: 100%
  }
  .catalog-modal__list_catalog,
  .catalog-modal__list_modal {
    margin: 0 -4px
  }
  .catalog-modal__list_catalog .catalog-modal__item,
  .catalog-modal__list_modal .catalog-modal__item {
    margin: 0 4px 8px
  }
  .basket__item {
    position: relative
  }
  .basket__product {
    flex-wrap: wrap
  }
  .basket__descr {
    margin-right: 0;
    width: 100%;
    margin-bottom: 12px
  }
  .basket__price-box {
    margin-right: 40px;
    margin-left: 0;
    order: -1;
    width: 100%;
    align-items: flex-start
  }
  .basket__price-old {
    order: -1
  }
  .basket__favorite {
    position: absolute;
    top: 0;
    right: 0
  }
}
@media (max-width:700px) {
  .cont {
    max-width: 498px
  }
  .catalog-modal__list_catalog,
  .catalog-modal__list_modal {
    justify-content: center
  }
  .category-cap__list {
    margin: 0 0 48px
  }
  .category-cap__link {
    width: 100%;
    margin: 0 0 4px
  }
}
@media (max-width:520px) {
  .cont {
    padding-right: 20px;
    padding-left: 20px;
    max-width: 432px
  }
  .header-search__tile-item {
    width: 136px
  }
  .header-search__image {
    height: 102px
  }
  .tile-search__availability {
    display: block;
    width: 100%;
    margin-top: 8px
  }
  .catalog-modal__list_catalog .catalog-modal__item,
  .catalog-modal__list_modal .catalog-modal__item {
    width: calc(50% - 8px);
    position: relative;
    padding-bottom: 50%
  }
  .catalog-modal__list_catalog .catalog-modal__name,
  .catalog-modal__list_modal .catalog-modal__name {
    position: absolute;
    top: 0
  }
  .catalog-modal__list_catalog .catalog-modal__picture,
  .catalog-modal__list_modal .catalog-modal__picture {
    width: auto
  }
  .catalog-modal__list_catalog .catalog-modal__image,
  .catalog-modal__list_modal .catalog-modal__image {
    position: absolute;
    bottom: 0;
    height: auto
  }
  .category-cap__sort-box {
    margin-right: 4px
  }
  .modal-box__form {
    width: calc(100% - 1px)
  }
  .info-page__cont {
    margin: 0;
    max-width: 100%
  }
  .info-page__text {
    max-width: 100%;
    margin: 0 0 12px;
    text-align: left
  }
}